<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.LockItem"
               type="Sitecore.ExperienceEditor.Speak.Ribbon.Requests.LockItem.ToggleLockRequest, Sitecore.ExperienceEditor.Speak.Ribbon"
           set:type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.LockItem.ToggleLockRequest, Sitecore.Support.82262"/>
    </sitecore.experienceeditor.speak.requests>

  </sitecore>
</configuration>